body {color:#000; background:#FFF; font-family: Verdana, Arial, sans-serif;    }
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {margin:0 auto; padding:0;}
input, select {font-size:12px; vertical-align:middle;}
li {list-style-type:none;}
img {border:0 none;}
a {color:#000; text-decoration:none;}
a:hover {color:#628828;}
.fl-lt {
            float: left
        }
.fl-rg {
            float: right
        }
.pd-10{
    padding: 10px;
}
.pd-20{
    padding: 20px;
}.pd-30{
    padding: 30px;
}
.mg-10{
    margin: 10px
}
.mg-20{
    margin: 20px
}
.mg-30{
    margin: 30px
}
.pd-lf-10 {
    padding-left: 10px
}

.pd-lf-20 {
    padding-left: 20px
}

.pd-lf-30 {
    padding-left: 30px
}

.pd-rg-10 {
    padding-right: 10px
}

.pd-rg-20 {
    padding-right: 20px
}

.pd-rg-30 {
    padding-right: 30px
}

.pd-tp-10 {
    padding-top: 10px
}

.pd-tp-20 {
    padding-top: 20px
}

.pd-tp-30 {
    padding-top: 30px
}

.pd-bt-10 {
    padding-bottom: 10px
}

.pd-bt-20 {
    padding-bottom: 20px
}

.pd-bt-30 {
    padding-bottom: 30px
}

.mg-lf-10 {
    margin-left: 10px
}

.mg-lf-20 {
    margin-left: 20px
}

.mg-lf-30 {
    margin-left: 30px
}

.mg-rg-10 {
    margin-right: 10px
}

.mg-rg-20 {
    margin-right: 20px
}

.mg-rg-30 {
    margin-right: 30px
}

.mg-tp-10 {
    margin-top: 10px
}

.mg-tp-20 {
    margin-top: 20px
}

.mg-tp-30 {
    margin-top: 30px
}

.mg-bt-10 {
    margin-bottom: 10px
}

.mg-bt-20 {
    margin-bottom: 20px
}

.mg-bt-30 {
    margin-bottom: 30px
}

.ft-sz-16{
    font-size: 16px
}
.ft-sz-15{
        font-size: 15px
        }
.ft-sz-14{
 font-size: 14px !important;
}

.pointer{
    cursor: pointer
}
     [v-cloak] {
    display: none !important;
}
.grey-4 {
            background: #f2f2f2
        }

        .blue-3 {
            background: #e4ecf3;
        }

        .black-color {
            color: #333333;
        }

        .ft-wt-bd {
            font-weight: bold
        }

        .ds-bl {
            display: block;
        }

        

        .pd-lf-20 {
            padding-left: 20px
        }

        .right-border {
            border-right: 1px solid #f2f2f2;
        }
        .tx-ct{
            text-align: center !important;
        }