.body{
	margin: 0;
	padding: 0;
}
.ui.horizontal.list {
    	display: block;
	    font-size: 0;
	    width: 1200px;
	    margin: 20px auto 0;
	}
    .ui.secondary.pointing.menu {
    	font-size: 17px;
    }
    .ui.secondary.pointing.menu .active.item,.ui.secondary.pointing.menu .active.item:hover {
    	border-color: #1a84cc;
    	color: #1a84cc;
    }
	.ui.segment {
		padding: 0;
		border: 0;
	}
	#inner-headline {
	    background: #2291e3 url(../../../../img/slide1.jpg) top right;
	    position: relative;
	    margin: 0;
	    padding: 60px 0;
	    background-size: 70%;
	    background-repeat: no-repeat;
	}
	#inner-headline h2.pageTitle {
	    color: #ffffff;
	    padding: 5px 0;
	    text-align: center;
	    display: block;
	    font-size: 40px;
	    font-weight: 700;
	    position: relative;
	    z-index: 3;
	}
	.flex-caption {
	    zoom: 1;
	    bottom: 0;
	    background-color: transparent;
	    color: #fff;
	    margin: 0;
	    padding: 25px 25px 25px 30px;
	    position: absolute;
	    left: 0;
	    text-align: left;
	    margin: 10px auto;
	    right: 0px;
	    display: inline-block;
	    margin-left: 12%;
	}
	.flex-caption h3 {
	    color: #ffffff;
	    margin-bottom: 45px;
	    text-transform: uppercase;
	    font-size: 55px;
	    font-weight: bold;
	}
	.container {
	    padding: 0 20px 0 20px;
	    position: relative;
	}
	.copyright {
	    text-align: left;
	    font-size: 12px;
	    width: 300px;
    	margin: 0 auto;
	}
	#content{
		width: 1200px;
		margin: 30px auto 0;
	}
	section.jumbobox {
	    background: #fff;
	    padding: 28px 0 0 0;
	    float: left;
	    width: 100%;
	    text-align: center;
	}
	section.jumbobox h1{
	    font-family: 'Open Sans', Arial, sans-serif;
	    font-weight: 600;
	    line-height: 1.1em;
	    color: #1a84cc;
	    margin-bottom: 20px;
	}
	.sub-footer{
		font-size: 13px;
		line-height: 40px;
		height: 40px;
		color: #fff;
		background-color: #1B1B1B;
		text-align: center;
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
	}
	i.icon, i.icons {
	    font-size: 18px;
	    color: #1a84cc;
	}
	.ui.form {
		width: 250px;
    	margin: 0 auto;
	}
	.hidebox{
		position: absolute;
		top: 170px;
		left: 38.5%;
		background:rgba(255,255,255,0.9);
		padding: 40px 0 60px;
		z-index: 22;
		width: 400px;
		box-sizing: content-box;
	}
	#mask { 
		position: absolute; top: 0px; 
		filter: alpha(opacity=60); 
		background-color: #777;     
		z-index: 20;
		left: 0px;     
		opacity:0.5; 
		-moz-opacity:0.5;
  	}