body{font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","SimSun",\5b8b\4f53,"WenQuanYi Micro Hei","Helvetica Neue",Arial,Tahoma,sans-serif;}

li{
	list-style:none;
}

li.leftmenulevel1{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #0557ab;
	list-style-image:url('../images/lftmnuitmexpanded.png');
	padding-top: 8px;
	padding-bottom: 6px;
	cursor: pointer;
}

li.leftmenuleaf{
	text-align: left;
	color: #000;
	padding-top: 8px;
	padding-bottom: 6px;
	cursor: pointer;
	list-style-image:none;
}

li.leftmenuleaf.selected{
	font-weight: bold;
}

.leftmenuleaf a{
	font-size: 14px;
	color:#2A2C2D;
	text-decoration: none; 
}

