/* 弹出窗样式 */
.messWindow{position:absolute;z-index:9999;display:none;background-color:#333;top:0;left:0}
.promptWindow{position:absolute;z-index:3;width: 540px;border:1px #1D52A2 solid;background-color:#FFF;display:none;}
.titleBar{background:url(../images/popTitleBg.gif);color:#FFF;height:18px;overflow: hidden;padding: 4px 10px;}
.titleBar span{float:left;cursor:pointer;font-weight:normal;}
.mainContent{border:1px #BCCFE6 solid;border-width:0 1px 1px 1px;padding-top:10px;}
.bottomBar{background-color:#f7f7f7;width:540px;height:23px;}
.bottomBar span{float:right;} 
.subMainLeft{background:#EFF4FA;padding:6px 0 6px 10px !important;}
.subMainRight{background:#FFF;padding:6px 6px 6px 10px !important;text-align:left;}
.subMainRight label{margin-right: 0;}
.popSuccess{float:left;background:url(../images/popSuccessL.gif);height:54px;padding-left:50px;overflow:hidden;display:none;}
.popSuccess span{display:inline-block;background:url(../images/popSuccessR.gif) no-repeat right;height:54px;line-height:54px;color:#ff0000;padding-right:10px;}
.popError{float:left;background:url(../images/popError.gif);height:54px;padding-left:50px;overflow:hidden;display:none;}
.popError span{display:inline-block;background:url(../images/popSuccessR.gif) no-repeat right;height:54px;line-height:54px;color:#ff0000;padding-right:10px;}
.popUl li{float: left;display: inline-block;margin-right: 2px;width: 85px;}




/*自定义提醒框*/
.promptWindow {border:none;}
.modal {z-index: 999!important;position: absolute!important;background-color: #fff!important;	box-shadow: 0 0 10px #24344e!important;width: 300px!important;}
.modal-dialog {z-index: 1000!important;	padding: 24px 20px 20px 24px!important;	min-width: 240px!important;	line-height: 18px!important;	border: 1px solid #ccd0d6!important;}
.modal-dialog .modal-dialog-message {float: left!important;font-size: 12px!important;max-width: 400px!important;min-width: 200px!important;}
.modal-dialog .modal-dialog-message h3 {font-size: 16px!important;line-height: 21px!important;margin: 0!important;}