<!DOCTYPE html>
<html lang="en">

<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">


<head>
    <title>交易列表</title>
    <!--valocity模板解析-->
    #parse("sys/header.html")
</head>

<body>
    <div class="container" id='app2'>
        <div>
            <form class="form-inline" id="subAccForm">
                <div class="form-group">
                    <label for="exampleInputName2">账户：</label>
                    <input type="text" class="form-control" id="subAccNo" placeholder="" name='subAccNo'>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">账户名：</label>
                    <input type="text" class="form-control" id="subAccNm" placeholder="" name="subAccNm">
                </div>
                <label class="radio-inline">
                    <input type="radio" name="type" id="inlineRadio1" value="1"> 交易中转户
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" id="inlineRadio2" value="2"> 还款中转户
                </label>
                <button type="submit" class="btn btn-default">添加</button>
            </form>
        </div>
        <br>
        <div>
            <p>当前交易中转账户为：{{currAcc.orderAcc.subAccNm}},账号为：{{currAcc.orderAcc.subAccNo}},余额为：{{currAcc.orderAcc.balance}}元</p>
            <p>当前还款中转账户为：{{currAcc.loanAcc.subAccNm}},账号为：{{currAcc.loanAcc.subAccNo}}，余额为：{{currAcc.loanAcc.balance}}元</p>
        </div>
         <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist" id='myTabs'>
        <li role="presentation" class="active"><a href="#order" aria-controls="order" role="tab" data-toggle="tab">交易中转户</a></li>
        <li role="presentation"><a href="#loan" aria-controls="loan" role="tab" data-toggle="tab">还款中转户</a></li>
      </ul>
      <div class="tab-content" >
            <div role="tabpanel" class="tab-pane active" id="order"> 
                <label for="" class=" control-label">请选择中转账号：</label>
                <select class="form-control" @change="selectVal">
    
                    <option value='0'>交易中转号</option>
                    <option v-for='item in list'  :value ="item.id">{{item.subAccNm}}---{{item.subAccNo}}</option>
                </select>
                <br>
                <button class="btn btn-info" @click='changeAcc'>确认更换</button>
            </div>
            <div role="tabpanel" class="tab-pane" id="loan">
                    <label for="" class=" control-label">请选择中转账号：</label>
                    <select class="form-control" @change="selectVal2">
        
                        <option value='0'>还款中转户</option>
                        <option v-for='item in list2'  :value ="item.id">{{item.subAccNm}}---{{item.subAccNo}}</option>
                    </select>
                    <br>
                    <button class="btn btn-info" @click='changeAcc'>确认更换</button>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>
        <div class="fivehuns">
           
           
        </div>
    </div>

</body>
<script>
    $(function(){
    const urlcheck = '${rc.contextPath}/platform/trade/validateAdminSubAccount';
    const addurl='${rc.contextPath}/platform/trade/addAdminSubAccount';
    $('#subAccForm').submit(function (e) {
        //阻止表单提交啦
        e.preventDefault();
        //    开始验证
        let subAccNo = $('#subAccNo').val();
        let subAccNm = $('#subAccNm').val();
        let type=$("input[name='type']:checked").val();
        $.ajax({
            type: 'get',
            url: urlcheck,
            data: {
                subAccNo: subAccNo,
                subAccNm: subAccNm
            },
            dataType: 'json',
            success:
            function (result) {
                if (result.code == 0) {
                    //   验证成功回调
                    console.log(type)
                    $.ajax({
                        type: 'post', 
                        url: addurl,
                         data: {
                            subAccNo: subAccNo,
                            subAccNm: subAccNm,
                            type:type
                        },
                        dataType: 'json',
                        contentType:'application/x-www-form-urlencoded',
                        success:
                        function (result) {
                            if (result.code == 0) {
                                     alert('添加成功')
                            }
                            else {
                                console.log(result.msg)
                            }
                        }


                    })
                  
                }
                else {
                    alert(result.msg)
                }
            }


        })
    });
    $('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
})
</script>
<script>
    const  url3= '${rc.contextPath}/platform/trade/adminSubAccountList';
    const url4='${rc.contextPath}/platform/trade/chooseAdminSubAccount';
    const url5='${rc.contextPath}/platform/trade/adminSubAccount';
    const vm2= new Vue({
        el:'#app2',
        data:{
            list:[],
            list2:[],
            selected:'',
            selected2:'',
            currAcc:{
                loanAcc:'',
                orderAcc:''
            }
        },
        created:function(){
            let that = this;
            // 获取交易中转账户
            $.ajax({
                type: 'get', 
                url:url3,
                data:{type:1},
                dataType:'json',
                success:
                        function(result){
                                if(result.code==0){
                                    that.list=result.list;
                                    console.log(that.list)
                                }
                                else{
                                            console.log(result.msg)
                                    }
                                        }


                });
                // 获取还款中转账户
                $.ajax({
                type: 'get', 
                url:url3,
                data:{type:2},
                dataType:'json',
                success:
                        function(result){
                                if(result.code==0){
                                    that.list2=result.list;
                                    console.log(that.list2)
                                }
                                else{
                                            console.log(result.msg)
                                    }
                                        }
                });
                //获取中转账户
                $.ajax({
                type: 'get', 
                url:url5,
                data:{type:2},
                dataType:'json',
                success:
                        function(result){
                                if(result.code==0){
                                   that.currAcc.loanAcc=result.account
                                    console.log(result)
                                }
                                else{
                                            console.log(result.msg)
                                    }
                                        }
                });
                $.ajax({
                type: 'get', 
                url:url5,
                data:{type:1},
                dataType:'json',
                success:
                        function(result){
                                if(result.code==0){
                                   that.currAcc.orderAcc=result.account
                                    console.log(result)
                                }
                                else{
                                            console.log(result.msg)
                                    }
                                        }


                });

        },
        methods: {
        selectVal: function(ele) {
            this.selected = ele.target.value;
            console.log(this.selected);
        },
        selectVal2: function(ele) {
            this.selected2 = ele.target.value;
            console.log(this.selected);
        },
        changeAcc:function(){
            let sel=this.selected;
            console.log(sel);

            //一波更换操作
            $.ajax({
                type:'post', 
                url:url4,
                data:{
                    id:sel,
                    type:1
                },
                dataType:'json',
                contentType:'application/x-www-form-urlencoded',
                success:
                        function(result){
                                if(result.code==0){
                                     alert("修改成功")
                                }
                                else{
                                    alert(result.msg)
                                            console.log(result.msg)
                                    }
                                        }


                })
        }
    }
    })
</script>
</html>