<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    #parse("sys/header.html")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/1.0.28/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .mid_box {
            width: 1100px;
            margin: 0px auto;
            border: 1px solid rgba(34, 36, 38, .15);
            box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
            padding: 1em;
            font-size: 14px;
            position: absolute;
        }
        
        .span_time {}
        
        .span_status {
            color: #adadad;
        }
        
        .fl-rg {
            float: right;
        }
        
        .pd-lf-10 {
            padding-left: 10px;
        }
        
        .pd-bt-10 {
            padding-bottom: 10px;
        }
        
        table {
            margin: 10px;
        }
        
        table tr {
            height: 50px;
        }
        
        table tr td {
            padding-left: 10px;
            padding-top: 10px;
        }
        
        .form_label {
            text-align: right
        }
    </style>
</head>

<body>
    <div class="mid_box" id="app">
        <form>
            <table>
                <tbody>
                    <tr>
                        <td class="form_label"><label for="">产品名称：</label></td>
                        <td><input type="text" placeholder="请填写您的产品名称" class="form-control"></td>
                    </tr>
                    <tr>
                        <td class="form_label"><label for="">货源类型：</label></td>
                        <td>
                            <select class="form-control">
                            <option>管道气</option>
                            <option>原油</option>
                            <option>天然气</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_label"><label for="">卖家：</label></td>
                        <td>
                            <select class="form-control">
                            <option>昆仑毒气</option>
                            <option>昆仑煤气</option>
                            <option>昆仑天然气</option>
                        </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="form_label"><label for="">供应量：</label></td>
                        <td><input type="text" placeholder="请填写供应量" class="form-control"> </td>
                        <td>吨</td>
                    </tr>
                    <tr>
                        <td class="form_label"><label for="" class="form_label">单价：</label></td>
                        <td><input type="text" placeholder="请填写产品单价" class="form-control"> </td>
                        <td>元</td>
                    </tr>
                    <tr>
                        <td><label for="" class="form_label">选择地址：</label></td>
                        <td>
                            <select class="form-control" style="width:100px;float:left" alt="...">
                            <option>浙江省</option>
                            <option>文一西路高教路</option>
                            <option>文一西路紫荆花路</option>
                        </select>
                            <select class="form-control" style="width:100px; float:left">
                            <option>杭州市</option>
                            <option>文一西路高教路</option>
                            <option>文一西路紫荆花路</option>
                        </select>
                            <select class="form-control" style="width:100px; float:left">
                            <option>西湖区</option>
                            <option>文一西路高教路</option>
                            <option>文一西路紫荆花路</option>
                        </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="" class="form_label">具体地址：</label></td>
                        </td>
                        <td><input type="text" placeholder="请填写具体地址" class="form-control"></td>
                    </tr>
                    <tr>
                        <td class="form_label"><label for="">联系人：</label></td>
                        <td><input type="text" placeholder="请填写该产品联系人的姓名" class="form-control"> </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="form_label"><label for="">联系电话：</label></td>
                        <td><input type="text" placeholder="请填写该联系人电话" class="form-control"> </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="form_label"><label for="">产品图片：</label></td>
                        <td>

                            <img id="pro_imgpath1" class="yingyeimg" style="width:270PX;height:230px" src="" />
                        </td>
                        <td>
                            <input type="hidden" name="pro_img" />
                            <input type="file" id="pro_img" name="pro_img_src" class="fileManage" />
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td class="form_label">
                            <label for="">产品详情：</label>
                        </td>
                        <td row-span="3"><textarea name="" id="" cols="30" rows="10" style="width:270px;max-width:270px"></textarea></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div style="width:300px;margin:0px auto">
                    <button class="btn btn-info" style="width:120px;float:left;display:block">保存</button>
                    <a class="btn btn-default" href="#" role="button" style="width:120px;float:right;display:block">取消</a>
                </div>
            </div>
        </form>
    </div>

    <!--添加地址模态框-->
    <div class="modal fade address-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加地址</h4>
                </div>
                <div class="modal-body">
                    <h4> 产品地址</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td class="form_label"><label for="">地址：</label></td>
                                <td><input type="text" placeholder="" class="form-control"></td>
                                <td><button class="btn btn-danger">delete</button></td>
                            </tr>
                            <tr>
                                <td class="form_label"><label for="">地址：</label></td>
                                <td><input type="text" placeholder="" class="form-control"></td>
                                <td><button class="btn btn-danger">delete</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>

<script>
    $("#pro_img").change(function() {
        clearFileName();
        $(this).attr("name", "file");
        uploadImage(1);
    });

    function clearFileName() {
        $("input[type='file']").each(function() {
            $(this).attr("name", "");
        });
    }
    /**
     * 上传图片处理方法
     * @param idx
     */
    function uploadImage(idx) {
        var options = {
                url: "${pageContext.request.contextPath}/uploadFile",
                type: "POST",
                dataType: "json",
                data: {},
                success: function(data) {
                    if (data.result == "-10") {
                        ShowWindowAlert("提示", data.msg, "", "确 定", "");
                        return;
                    }
                    //-----------
                    $("input[name='yingye_img" + idx + "']").val(data.path);
                    $("#yingye_imgpath" + idx).attr("src", "${pageContext.request.contextPath}/" + data.path);
                    $("#yingye_imgpath" + idx).attr("src", data.path);
                    $("#yingye_imgpath" + idx).show();
                    console.log(data.path);
                    return;
                    //-----------
                },
                error: function(data) {
                    //alert(data);
                }
            }
            // $("#register_form").ajaxSubmit(options);
    }
</script>
<script>
//    var vm = new Vue(){
//
//    }
</script>

</html>