<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title>Title</title>
    <!--valocity模板解析-->
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="用户名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <!--#if($shiro.hasPermission("sys:user:save"))-->
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <!--#end-->

            <!--#if($shiro.hasPermission("sys:user:update"))-->
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <!--#end-->

            <!--#if($shiro.hasPermission("sys:user:delete"))-->
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <!--#end-->
        </div>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <!--对customer用户信息修改时使用的界面-->
    <div v-show="!showList" class="panel panel-default">
        <div class="mid_box">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <h3>企业信息</h3>
                        <hr>
                        <div>
                            <table>
                                <!--<th></th>-->
                                <tbody>
                                <tr>
                                    <td>当前logo：</td>
                                    <td>
                                        <img v-bind:src="user.companyImg" alt="" width="100px" height="100px">
                                        <div class="fl-rg pd-lf-10 pd-bt-10"><span class="span_time">yyyy-MM-dd</span><span class="span_status"> 提交注册申请</span></div>
                                        <div class="fl-rg pd-lf-10 pd-bt-10"><span class="span_time">yyyy-MM-dd</span><span class="span_status"> 通过</span></div>
                                    </td>
                                </tr>
                                <tr style="height:50px">
                                    <td>企业名称：</td>
                                    <td><input type="text" v-model="user.companyName" class="form-control"></td>
                                    <td><input type="hidden" v-model="user.userId"></td>
                                </tr>
                                <tr style="height:50px">
                                    <td>企业注册号：</td>
                                    <td><input type="text" v-model="user.userRegNo" class="form-control"></td>
                                </tr>
                                <tr style="height:50px">
                                    <td>企业类型：</td>
                                    <td><select class="form-control" v-model="user.companyType">
                                        <option value="1">央企</option>
                                        <option value="2">国企</option>
                                        <option value="3">民企</option>
                                        <option value="4">合资</option>
                                        <option value="5">上市公司</option>
                                    </select>
                                    </td>
                                </tr>
                                <tr style="height:50px">
                                    <td>企业注册号：</td>
                                    <td><input type="text" v-model="user.userRegNo" class="form-control"></td>
                                </tr>
                                <tr style="height:50px">
                                    <td></td>
                                    <td><input type="text" v-model="user.zcXxAddress" class="form-control" placeholder="详细地址"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--企业信息end-->
                        <h3>账户信息</h3>
                        <hr>
                        <div>
                            <table>
                                <!--<th></th>-->
                                <tbody>

                                <tr style="height:50px">
                                    <td>登录账号：</td>
                                    <td><input type="text" v-model="user.userAccount" class="form-control"></td>
                                </tr>

                                <tr style="height:50px">
                                    <td>密码重置：</td>
                                    <td>
                                        <button class="btn btn-danger" @click="resetPassword">密码重置</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--账户信息end-->
                    </div>
                    <div class="col-md-6 ">
                        <h3>联系方式</h3>
                        <hr>
                        <div>
                            <table>
                                <!--<th></th>-->
                                <tbody>

                                <tr style="height:50px">
                                    <td>联系人：</td>
                                    <td><input type="text" v-model="user.companyLxr" class="form-control"></td>
                                </tr>
                                <tr style="height:50px">
                                    <td>电子邮箱：</td>
                                    <td><input type="text" v-model="user.userEmail" class="form-control"></td>
                                </tr>
                                <tr style="height:50px">
                                    <td>座机号码：</td>
                                    <td><input type="text" v-model="user.userSeatPhone" class="form-control"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--联系方式end-->
                        <br><br>
                        <h3>资质信息</h3>
                        <hr>
                        <div>
                            <table>
                                <!--<th></th>-->
                                <tbody>

                                <tr style="height:50px">
                                    <td>法人身份证：</td>
                                    <td colspan="4"><input type="text" v-model="user.legalIdCard" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td colspan="1"> <img v-bind:src="user.companyYyZzImg" alt="" width="100px" height="100px"></td>
                                    <td colspan="1"><img v-bind:src="user.companyXkzImg" alt="" width="100px" height="100px"></td>
                                    <td><img v-bind:src="user.companyTxkzImg" alt="" width="100px" height="100px"></td>
                                    <td><img src="" alt="" width="100px" height="100px"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <br><br>
                        <button class="btn btn-success" @click="" style="width:120px">确定</button>
                        <input type="button" class="btn btn-warning" @click="reload" value="返回" style="width:120px"/>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="${rc.contextPath}/js/wellassist/platform/user/seller.js?_${date.systemTime}"></script>

</body>
</html>