<html lang="en">
<head>
	#parse("sys/frontheader.html")
<!-- custom css -->
<link rel="stylesheet" href="${rc.contextPath}/resources/wella/front/css/pagetempl.css">
<link rel="stylesheet" href="${rc.contextPath}/resources/wella/front/css/customer/register.css">
<title>放款放买家网站</title>

<script src="${rc.contextPath}/resources/library/js/chosen.jquery.js"></script>
<script
	src="${rc.contextPath}/resources/library/js/bootstrap-fileupload.js">
</script>

<script src="${rc.contextPath}/resources/wella/front/js/operation.js"></script>

<style>
	.start_heading2{padding-top:20px;padding-bottom:20px;font-weight:500;font-size:24px;}
	.ware_button{float:right;color: white;background: #ff5500;padding: 6px;width: 61px;text-align: center;cursor:hand;font-size:16px;}
	.ware_maker_label{color: #ff5500;padding: 6px 0px;float: left;font-size:14px}
	.buyer_start_item{background: white;border: #c0c0c0;border-style: solid;border-width: 1px;}
	.home-table img{width:100%;}
	.img-title{width:100%; background:rgba(0, 0, 0, 0.5); position:absolute; bottom: 0px;}
	.img-title>span{padding:10px;line-height:30px;color:#ffffff; }
</style>

</head>
<body style="margin:0; padding:0; background-color:#f5f5f5;">
	<div class="main-wrapper" style="margin-left: 0px;">

		<!-- navigation bar -->
		<div class="abovenavbar">
			<div align=center>
				<div style="width:1000px;">
					<span class="dropdown" style="float:left;">
						<a data-toggle="dropdown" class="dropdown">${user.userName}&nbsp;<b class="icon-angle-down"></b></a>
						<div class="dropdown-menu">
							<div id="logout">退出登录</div>
						</div>
					</span>
					<span style="float: right;"><a href="${rc.contextPath}/creditor/loanCheck">管理员</a></span>
				</div>
			</div>
		</div>
		
		<div align=center style="padding-top:12px;">
			<div align=left style="width:1000px;height:100%;">
				<img src="${rc.contextPath}/resources/wella/front/images/customer/banner.png" style="width:1000px;">
				<div class="start_heading2">${user.userName}</div>
				<div style="display:block; overflow:auto">
					<div style="float:left;width:200px;height:200px;background:white;border:solid 1px #c0c0c0;">
						<table style="width:100%;height:100%;"><tr><td><p align=center><img src="${userInfo.companyImg}"></p></td></tr></table>
					</div>
					<div style="float:left;margin-left:20px;margin-right:20px;width:504px;height:200px;background:white;border:solid 1px #c0c0c0;">
						<div style="padding-left: 10px;padding-top: 16px;font-size: 20px;font-weight:500;">公告栏</div>
						<marquee direction="up" style="height: 155px; margin-top: 5px;" loop="infinite" scrollamount="3">
							<!--<c:forEach items="${noticeList}" var="item" varStatus="status">
		                    	<div onclick="viewNotice(${item.noticeId})" style="cursor:pointer;padding-left:25px;padding-top: 16px;font-size: 15px;color:#666666">${item.createDate} &nbsp;&nbsp; ${item.noticeTitle}</div>
		                    </c:forEach>-->
						</marquee>
					</div>
					<div style="float:left;width:250px;height:200px;background:white;border:solid 1px #c0c0c0;">
						<div style="padding-left: 10px;padding-top: 16px;font-size: 20px;font-weight:500;">联系方式</div>
						<table style="width:100%;margin-top:32px;font-size:15px;" >
						<tr>
							<td style="text-align:right; width:75px; padding-right:5px; height:30px">联系人:</td>
							<td>
								<img src="${rc.contextPath}/resources/wella/front/images/customer/lianxiicon1.png" style="float:left;">
								<img src="${rc.contextPath}/resources/wella/front/images/customer/lianxiicon2.png" style="float:left;">
								<img src="${rc.contextPath}/resources/wella/front/images/customer/lianxiicon3.png" style="float:left;">
							</td>
						</tr>
						<tr>
							<td style="text-align:right; width:75px; padding-right:5px; height:30px">联系电话:</td>
							<td>${userInfo.companyLxrPhone}</td>
						</tr>
						<tr>
							<td style="text-align:right; width:75px; padding-right:5px; height:30px">联系地址:</td>
							<td>${address}</td>
						</tr>
						</table>
					</div>
				</div>
				
				<div class="start_heading2" style="font-size:22px; margin-top:30px;">企业介绍</div>
				<div style="font-size:15px;line-height:150%;color:#666666">
			      企业介绍
				</div>
			</div>
		</div>

</div>
</body>
<script type="text/javascript">
	/*function show_companies() {
		window.location.href="${rc.contextPath}/front/customer/show_companies";
	}*/
	//退出函数
	$("#logout").click( function(){
		window.location.href="${rc.contextPath}/front/fkf/FkfLoginCtrl-logout";
	});
</script>
</html>